//dw.usw-17.palantirfoundry.com/artifacts/api/repositories/ri.stemma.main.repository.e5b1fb3a-1bf9-4189-9644-ee8a484e7a76/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
registry=https://dw.usw-17.palantirfoundry.com/artifacts/api/repositories/ri.stemma.main.repository.e5b1fb3a-1bf9-4189-9644-ee8a484e7a76/contents/release/npm/
omit-lockfile-registry-resolved=true
